.parallax {
  /* The image used */
  /* background-image: url("img/background/3.jpg"); */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 5rem;
}

.icons_edit {
  color: blue; 
}


.icons_edit:hover {
  color: red;
  cursor: pointer; 
}

section {
  padding-top: 5rem;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 20px;
}

footer {
  width: 100%;
  height: 70px;
  position: absolute;
}

.icontech:hover + .texticon {
  opacity: 1;
  animation: 2s anim-Appear ease-out;
  pointer-events: auto;
}

.icontech + .texticon {
  opacity: 0;
  pointer-events: none;
}

.diagonal-box {
  height: 40em;
  max-height: 90vh;
  background-color: #ffffff;
  /* transform: skewY(10deg); */
}

.content {
  max-width: 100em;
  margin: 0 auto;
  /* transform: skewY(-10deg); */
}

.lineRight {
  animation: 2s anim-lineRight ease-out;
}
.lineLeft {
  animation: 2s anim-lineLeft ease-out;
}

.lineUp {
  animation: 2s anim-Appear ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes anim-lineLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes anim-Appear {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-disAppear {
  0% {
    opacity: 1;
    transform: translateY(2%);
  }
  50% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

.cardbox {
  overflow: hidden;
  scale: 0.9;
  text-align: center;
}

.cardbox:hover {
  animation-timing-function: ease-out;
  animation-name: anim-Zooming;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes anim-Zooming {
  0% {
    transform: Scale(1);
  }
  100% {
    transform: Scale(1.1);
  }
}

/* data_eng1 */
.d-title {
  grid-column: text;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
}

.button {
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  transition: background-color 1s;
}

.button:hover {
  background-color: black;
  color: white;
}

@keyframes anim-button {
  0% {
    background-color: black;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

/* hashtag cardbox */

.hashtags {
  font-size: 14 px;
  font-weight: 550;
  font-family: sans-serif;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .texticon {
    background-color: #ffffff;
    font-size: 13px;
  }
  .gambar_alur {
    width: 75vw;
  }
}

